<!-- Author: Le Minh Pham -->
<!-- StudentID: 300814556 -->
<!-- Date: Oct 6th 2020 -->  
    <!-- Scripts Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Script/app.js"></script>
</body>

</html>