<!-- Author: Le Minh Pham -->
<!-- StudentID: 300814556 -->
<!-- Date: Oct 6th 2020 -->

<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

<!-- Contact Page -->
<<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">
            Welcome to <%= title %> Page
        </h1>
        <section class="article_text post">
            <p> Thanks for reading my websites, and wanting to make a connection, I really appreciate it. I try to
                respond to every legitimate requests, but it won't always be immediate.</p>
            <p> Below you'll find a variety of ways to reach me or you can send me a contact form, as I try to be
                available at all of them.</p>
            <h4 id="myemail">Email: <a href="mailto:lpham32@my.centennialcollege.ca">lpham32@my.centennialcollege.ca</a>
            </h4>
            <p>This is the easiest way to reach me for most people.</p>
            <h4 id="Discord">Discord ID: Mike Pham#8888</h4>
            <p>Due to being in school, I spend a lot of contacting time on Discord. I'd love it if you send me a friend
                request. I also have DMs open, so you can use this method to reach me. </p>
            </section>
            <form>
                <fieldset id="contactForm">
                    <legend>Contact me</legend>
                    <label for="txtName">Your full name</label>
                    <input name="txtName" id="txtBest" type="text" tabindex="" required="required">
                    <br>
                    <label for="numPhone">Your phone number</label>
                    <input name="numPhone" id="numPhone" type="text" tabindex="11" required="required">
                    <br>
                    <label for="txtEmail">Your Email address</label>
                    <input name="txtEmail" id="txtEmail" type="email" tabindex="13" required="required">
                    <label for="txtMessage">Message</label>
                    <textarea name="txtMessage" id="txtMessage" cols="70" rows="4" tabindex="15"
                        required="required"></textarea>
                </fieldset>
                <input name="ContactUs" type="submit" id="submit" value="Send Form" tabindex="17" />
                <input name="restart" type="reset" value="Start Over" tabindex="19" />
            </form>
    </div>
    </main>

    <% include partials/bottom_nav.ejs %>

    <% include partials/footer.ejs %>