<!-- Author: Le Minh Pham -->
<!-- StudentID: 300814556 -->
<!-- Date: Oct 6th 2020 -->

<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h4 class="display-4">
      Welcome to <%= title %> Page
    </h4><br>
   <article>
      <h2>Your form has been submitted</h2>
      <div class="results">
         <h3>You entered the following data:</h3>
         <ul></ul>
      </div>
   </article>
  </div>
  <div class="container">

  </div>
</main>


<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>